# Extraction

## Import Required Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
import ee
import geemap
from geenext.extraction import generate_date_ranges, extract_pixel_values_by_points

## Generate the date ranges

In [2]:
# Generate date ranges
dateranges = generate_date_ranges("2020-01-01", "2020-12-31", interval_days=10, label_prefix="d")
print(dateranges.shape)
dateranges.head()

(37, 3)

  start_date   end_date label
0 2020-01-01 2020-01-11   d_1
1 2020-01-11 2020-01-21   d_2
2 2020-01-21 2020-01-31   d_3
3 2020-01-31 2020-02-10   d_4
4 2020-02-10 2020-02-20   d_5

## Read the sample points using GeoPandas

In [3]:
gdf_path = r"D:\Research Works\Agriculture\ssa_crop_yield_forecasting\datasets\processed_datasets\samples\africa_point_samples.shp"
points_gdf = gpd.read_file(gdf_path)
print(points_gdf.shape)
points_gdf.head()

(78999, 3)

   point_id  country                  geometry
0         0  Algeria   POINT (5.23822 35.5677)
1         1  Algeria   POINT (1.7953 29.07367)
2         2  Algeria  POINT (6.43865 30.60756)
3         3  Algeria  POINT (9.38139 24.55536)
4         4  Algeria  POINT (2.47888 27.25634)

## Extract the ERA5 Daily Data at Dekadal Interval

In [4]:
# Authenticate earth engine
ee.Authenticate()

True

In [5]:
# Initialize earth engine
ee.Initialize(project="krishnagopal-iit-roorkee")

In [6]:
# Prepare the image collection
ERA5_daily = ee.ImageCollection("ECMWF/ERA5_LAND/DAILY_AGGR").select("temperature_2m")

# Extract the data
extracted_data = extract_pixel_values_by_points(ERA5_daily,
                                                points_gdf=points_gdf,
                                                date_ranges_df=dateranges,
                                                scale=250,
                                                copy_properties=["point_id", "country"],
                                                reducer="mean",
                                                dtype="float32")

Processing in batches...

100%|██████████| 79/79 [10:37<00:00,  8.07s/it]

In [7]:
extracted_data

,point_id,country,temperature_2m_d_1,temperature_2m_d_2,temperature_2m_d_3,temperature_2m_d_4,temperature_2m_d_5,temperature_2m_d_6,temperature_2m_d_7,temperature_2m_d_8,...,temperature_2m_d_28,temperature_2m_d_29,temperature_2m_d_30,temperature_2m_d_31,temperature_2m_d_32,temperature_2m_d_33,temperature_2m_d_34,temperature_2m_d_35,temperature_2m_d_36,temperature_2m_d_37
0,0,Algeria,278.686890,278.952362,282.617126,283.222595,285.733124,285.552002,284.790466,287.989349,...,293.125305,290.271759,289.518799,288.193237,288.336700,284.413208,282.017212,281.033752,282.182953,276.643768
1,1,Algeria,281.193787,283.218445,287.212067,287.741974,290.579681,289.384583,291.244751,293.725677,...,305.046661,298.419708,297.084229,293.852814,294.374023,288.080139,287.684967,286.331024,286.193573,284.198975
2,2,Algeria,280.579987,282.592957,287.861115,286.607056,288.400269,288.137726,290.382050,292.731384,...,303.991302,297.026550,296.300171,292.452148,292.426208,288.559418,287.982147,286.587402,286.089935,282.128204
3,3,Algeria,279.620697,281.746002,290.176422,286.872864,287.388977,288.134094,291.526764,291.602081,...,301.202423,298.778778,297.359772,291.880768,288.245605,286.320679,288.656860,287.703888,286.453339,286.490875
4,4,Algeria,284.163788,285.406189,290.994110,290.679901,293.317596,292.666656,293.626953,295.844421,...,306.867767,301.820221,300.635895,296.892609,296.178711,290.838776,289.698303,288.338501,289.062408,286.351471
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78994,117330,Zimbabwe,296.615784,293.236298,293.435577,293.962708,293.148102,293.327972,292.115997,294.238037,...,297.153503,293.049683,294.551025,296.361298,297.032410,297.852051,294.052429,292.799988,293.604736,293.702545
78995,117331,Zimbabwe,296.259583,293.251740,293.009583,293.448242,292.860077,292.919128,291.400024,293.601196,...,296.011200,292.263214,293.546082,295.297058,296.349213,296.956238,293.565399,292.700562,293.384949,293.233551
78996,117339,Zimbabwe,296.871124,293.290436,292.800781,294.242096,293.393494,292.169220,290.049805,293.386078,...,295.067749,291.368683,293.824677,295.252075,295.860229,296.879211,292.804565,293.086395,293.995911,293.475159
78997,117340,Zimbabwe,296.543243,293.022675,293.053711,293.647736,292.882416,292.862671,291.483490,293.861481,...,296.609467,292.424225,293.716705,295.677643,296.232666,296.971191,293.485840,292.514893,293.320343,293.317535
78998,117344,Zimbabwe,297.518280,293.450684,293.029388,294.411102,293.475586,292.707764,290.870178,294.217438,...,295.957153,291.646576,293.532898,295.557526,296.139862,297.296997,293.501099,293.187347,294.022888,293.580505